@font-face {
  font-family: 'Nuckle';
  src:
    url('/fonts/Nuckle-Light.woff2') format('woff2'),
    url('/fonts/Nuckle-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nuckle';
  src:
    url('/fonts/Nuckle-Regular.woff2') format('woff2'),
    url('/fonts/Nuckle-Regular.woff') format('woff'),
    url('/fonts/Nuckle-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nuckle';
  src:
    url('/fonts/Nuckle-Bold.woff2') format('woff2'),
    url('/fonts/Nuckle-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}