.sa-label {
  color: $dark_grey;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.sa-input {
  color: $dark;
  width: 100%;
  font-size: 16px;
  display: block;
  padding: 12px 16px;
  border: 1px solid $light_grey;
  border-radius: 8px;
  background-color: $light_grey;

  &::placeholder {
    color: $dark_grey;
  }

  &--invalid {
    border-color: $red;
    background-color: $super_light_orange;
  }

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }
}

.sa-input-wrap {
  & + .sa-input-wrap {
    margin-top: 20px;
  }

  &.sa-select {
    position: relative;

    &:after {
      content: '';
      height: 5px;
      width: 12px;
      top: 50%;
      right: 16px;
      position: absolute;
      background-size: cover;
      display: inline-block;
      transform: translateY(-50%);
      background-image: url('../icons/chevron-down-date.svg');
    }
  }
}

.sa-validation-message {
  display: none;
  color: $red;
  font-size: 12px;
  margin-top: 4px;
  transition: all 0s;
}


//radio items
.sa-radio {
  &__title {
    color: $dark;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__items {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__label {
    cursor: pointer;
    display: flex;
    color: $dark;
    position: relative;
    width: 100%;
    border-radius: 50px;
    padding: 12px 64px 10px 16px;
    border: 1px solid $light_grey;

    &::after {
      content: '';
      width: 24px;
      height: 24px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      display: inline-block;
      border-radius: 50%;
      border: 1px solid $light_grey;
      background-image: none;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  &__input {
    opacity: 0;
    z-index: -1;
    position: absolute;
    pointer-events: none;

    &:checked + label {
      &::after {
        border-color: $orange;
        background-color: $orange;
        background-image: url('../icons/radio-check.svg');
      }
    }
  }

  &__buttons {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);

    input:checked + {
      .sa-radio__label-button {
        color: $white;
        background-color: $orange;

        path:not(.no-f) {
          fill: $white;
        }

        path {
          stroke: $white;
        }
      }
    }
  }

  &__label-button {
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 12px;
    padding: 21px 10px 24px;
    display: inline-block;

    @media screen and (min-width: $screen-lg) {
      padding: 21px 15px;
    }

    &:hover {
      color: $white;
      background-color: $orange;

      path:not(.no-f) {
        fill: $white;
      }

      path {
        stroke: $white;
      }
    }
  }
}

.sa-checkbox {
  &__input {
    opacity: 0;
    z-index: -1;
    position: absolute;
    pointer-events: none;

    &:checked + label {
      &:after {
        border-color: $orange;
        background-color: $orange;
        background-image: url('../icons/radio-check.svg');
      }
    }
  }

  &__label {
    color: $dark;
    cursor: pointer;
    display: inline-block;
    position: relative;
    min-height: 24px;
    padding: 4px 0 0 36px;


    &::after {
      content: '';
      width: 24px;
      height: 24px;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      display: inline-block;
      border-radius: 3px;
      border: 1px solid $light_grey;
      background-image: none;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

.sa-range-slider {
  .irs {
    height: 18px;

    .irs-handle {
      top: 0;
      border: 0;
      height: 18px;
      width: 18px;
      border-radius: 18px;
      box-shadow: none;
      background-color: $orange;
    }

    .irs-line {
      top: 7px;
    }

    .irs-bar {
      top: 7px;
      background-color: $orange;
    }
  }

  &__from-to {
    color: $grey;
    display: flex;
    font-size: 12px;
    margin-top: 8px;
    justify-content: center;
  }

  &__from,
  &__to {
    padding: 0 3px;
    display: flex;
  }
}