html {
  height: 100%;
}

.sa-styles-wrap {
  margin: 0;
  height: 100%;
  min-height: 100%;

  // .ui-datepicker table tr th, .ui-datepicker table tr td {
  //   padding: 5px;
  // }

  .ui-widget.ui-widget-content {
    background-color: #fff;
    border-color: #ddd;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 5%);
  }

  .ui-datepicker-calendar tbody>tr>td {
    border: 0;
    padding: 0;
    width: 30px;
  }

  .ui-datepicker .ui-datepicker-title {
    color: #222;
    font-weight: 400;
    margin: 0 35px;

    line-height: 1.3;
    font-size: 15px!important;
  }

  .ui-datepicker table {
    font-size: 15px;
  }

  .ui-widget {
    font-family: "Nuckle",sans-serif; 
  }

  .ui-datepicker .ui-datepicker-next {
    right: 0 !important;
  }
  .ui-datepicker .ui-datepicker-prev {
    left: 0 !important;
  }

  .ui-datepicker .ui-datepicker-next,
  .ui-datepicker .ui-datepicker-prev {
    top: 0 !important;
    cursor: pointer;
    background-color: transparent;
    border: 0 !important;
    width: 35px;
    height: 30px; 

    &:hover {
      background-color: #eee;
    }
  }

  .ui-datepicker .ui-datepicker-next {
    &::before {
      font-weight: 400;
      color: #222;
      top: 50%;
      left: 50%;
      line-height: 10px;
      transform: translate(-50%, -65%);
      position: absolute;
      content: '»';
      display: block;
      font-size: 15px;
    }
  }

  .ui-datepicker table tr a, .ui-datepicker table th span {
    font-weight: 400;
    color: #222;
    font-size: 15px !important;
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    border: none;
    padding: 9px 0px;
  }

  .ui-datepicker .ui-datepicker-header {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
  }

  main {
    padding-top: 1px;
    height: 100%;
    min-height: 100%;
    font-family: $main_font;
    font-size: 15px;
  }

  a {
    color: $orange;
  }
  
  p {
    line-height: 1.4;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark;
    font-weight: 600;
    margin: 0;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    transition: all 0.3s;
  }

  .sa-link {
    cursor: pointer;
    color: $orange;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: 600;
  
    &:hover {
      color: darken($orange, 15);
    }
  }
  
  .sa-button {
    cursor: pointer;
    font-size: 16px;
    display: block;
    text-align: center;
    position: relative;
    color: $white;
    text-decoration: none;
    padding: 15px 14px 13px;
    border: 1px solid $orange;
    background-color: $orange;
    border-radius: 6px;
  
    &--wicon {
      color: $dark;
      display: flex;
      font-size: 14px;
      padding: 15px 14px 13px 52px;
      background-color: $white;
      border: 1px solid $dark;
      border-radius: 4px;
    }
  
    &--light-grey {
      color: $dark;
      border-color: $light_grey;
      background-color: $light_grey;
  
      &:hover {
        border-color: darken($light_grey, 5);
        background-color: darken($light_grey, 5);
      }
    }
  
    &[disabled] {
      border-color: $grey;
      background-color: $grey;
    }
  
    &__icon {
      top: 50%;
      left: 19px;
      position: absolute;
      transform: translateY(-50%);
    }
  
    &--facebook {
      color: $white;
      border-color: $facebook;
      background-color: $facebook;
  
      &:hover {
        background-color: darken($facebook, 15);
      }
  
      .sa-button__icon {
        top: unset;
        bottom: -1px;
        transform: translateY(0);
      }
    }
  }
  
  .sa-order-lg-5 {
    @media screen and (min-width: $screen-lg) {
      order: 5;
    }
  }
  
  .sa-order-lg-4 {
    @media screen and (min-width: $screen-lg) {
      order: 4;
    }
  }
  
  .sa-order-lg-3 {
    @media screen and (min-width: $screen-lg) {
      order: 3;
    }
  }
}