.sa-ss-button {
  cursor: pointer;
  right: 16px;
  bottom: 16px;
  position: fixed;
  color: $white;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  padding: 13px 20px 11px 16px;
  border-radius: 50px;
  background-color: $orange;

  @media screen and (min-width: $screen-md) {
    right: 80px;
    bottom: 38px;
    font-size: 18px;
    padding: 11px 20px 9px 16px;
  }

  &__icon {
    margin-right: 8px;
  }

  &:hover,
  &:focus {
    background-color: darken($orange, 15);
  }
}

.sa-ss-pop {
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: fixed;
  visibility: hidden;
  width: 100%;
  min-height: 100%;
  background-color: rgba($dark, 0.2);

  &--active {
    z-index: 99;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }

  .sa-button {
    width: 100%;
    & + .sa-button {
      margin-top: 12px;
    }
  }

  p {
    // color: $grey;
    margin-top: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 504px;
    padding: 48px 16px;
    border-radius: 0;
    height: 100vh;
    overflow-y: auto;
    background-color: $white;

    @media screen and (min-width: $screen-md) {
      height: auto;
      padding: 48px 80px;
      border-radius: 10px;
    }
  }

  &__cross {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      path {
        stroke: darken($orange, 15);
      }
    }
  }

  &__head,
  &__footer {
    text-align: center;
  }

  &__footer {
    padding-top: 24px;
    margin-top: auto;

    @media screen and (min-width: $screen-md) {
      margin-top: 0;
    }

    p {
      margin: 0;
    }

    a {
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: darken($orange, 15);
      }
    }
  }

  &__breadcrumbs {
    color: $dark;

    @media screen and (min-width: $screen-md) {
      display: none;
    }
  }

  &__breadcrumbs-title {
    cursor: pointer; 

    &::after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 1px;
      background-color: $dark;
      margin: 4px 12px 4px 16px;
    }

    &:hover {
      color: $orange;
    }
  }

  &__title {
    font-size: 20px;
    margin-top: 0;
    line-height: 1.4;
  }

  &__sub-title {
    color: $grey;
    line-height: 22.4px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &__terms {
    color: $dark;
    line-height: 19.2px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;

    a {
      &:hover {
        color: darken($orange, 15);
      }
    }
  }
}