.sa-search-filters {
  display: none;
  position: relative;
  max-width: 1280px;
  margin: 20px auto;
  padding: 50px 24px 40px;

  @media screen and (min-width: $screen-lg) {
    padding: 40px 48px 48px;
    margin: 40px auto;
  }

  &--active {
    display: block;
  }

  &__footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 294px;

    @media screen and (min-width: $screen-lg) {
      max-width: 334px;
    }
  }

  &__footer-buttons {
    display: flex;
    justify-content: space-between;
  }

  &__cross {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    top: 12px;
    right: 12px;
    position: relative;
    align-items: center;
    justify-content: center;
    position: absolute;

    @media screen and (min-width: $screen-lg) {
      width: 48px;
      height: 48px;
      top: 20px;
      right: 20px;
    }
  }

  .sa-button {
    min-width: 141px;

    @media screen and (min-width: $screen-lg) {
      min-width: 161px;
    }
  }

  .sa-search-place-results {
    ul {
      position: absolute;
      background-color: #fff;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08);
      border: 1px solid #f6f6f6;
      border-radius: 0 0 3px 3px;
      margin: 0;
      padding: 0;
      z-index: 20;

      li {
        list-style: none;
        color: #5a5a5a;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: 0;
        transition: color 0.3s;
      }

      a {
        cursor: pointer;
        width: 100%;
        border-bottom: 1px solid #d8d8d8;
        pointer-events: all !important;
        display: inline-block;
        padding-top: 12px;
        text-align: left;
        line-height: normal;
        height: auto !important;
        min-height: 36px;
        padding: 9px 12px;
        transition: color 0.3s;

        &:hover {
          color: $white;
          background-color: $orange;

          li {
            color: $white;
          }
        }
      }

      span {
        vertical-align: top;
      }

      .location2 {
        display: inline-block;
      }
    }
  }

  .ui-autocomplete {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
  }
  .ui-helper-hidden-accessible {
    display: none;
  }
}

.sa-date-range {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.ui-datepicker {
  transition: all 0s;
}
