// this is used to create a default spacings for same logic elements
// to avoid styles dublication
.sa-styles-wrap {
  .sa-mb-4 {
    margin-bottom: 4px;
  }

  .sa-mb-8 {
    margin-bottom: 8px;
  }

  .sa-mb-12 {
    margin-bottom: 12px;
  }

  .sa-mb-16 {
    margin-bottom: 16px;
  }

  .sa-mb-20 {
    margin-bottom: 20px;
  }

  .sa-mb-24 {
    margin-bottom: 24px;
  }

  .sa-mb-32 {
    margin-bottom: 32px;
  }

  .sa-mt-24 {
    margin-top: 24px;
  }

  .sa-mt-32 {
    margin-top: 32px;
  }

  //font-sizes
  .sa-fs-16 {
    font-size: 16px;
  }

  //colors 
  .sa-c-grey {
    color: $grey;
  }

  .sa-c-orange {
    color: $orange;
  }

  //background colors
  .sa-bg-white {
    background-color: $white;
  }

  .sa-bg-grey {
    background-color: $light_grey;
  }
  //borders
  .sa-border-r8 {
    border-radius: 8px;
  }

  .sa-border-r6 {
    border-radius: 6px;
  }

  //basic grid
  .sa-grid {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 32px;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: $screen-lg) {
      grid-template-columns: repeat(3, 1fr); 
    }
  }

  //text alignement
  .sa-text-center {
    text-align: center;
  }

  .sa-text-left-lg {
    @media screen and (min-width: $screen-lg) {
      text-align: left;
    }
  }

  //font-sizes {
  .sa-fs-16 {
    font-size: 16px;
  }

  .sa-fs-20 {
    font-size: 20px;
  }

  .sa-icon {
    display: flex;
    justify-content: center;
  }

  //postitions

  .sa-pos-a {
    position: absolute;
  }
}

