// Fonts
$main_font: 'Nuckle', sans-serif;

// Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xlg: 1024px;

// Colors
$white: #fff;
$light_grey: #F7F8FC;
$grey: #AAADBB;
$dark_grey: #73778A;
$dark: #32384A;
$red: #EB5757;
$orange: #DE7B67;
$super_light_orange: #FDF3F1;
$facebook: #2553B4;